*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(170, 196, 118);
    padding: 0 60px;

}



.container{
    
    max-width: 500px;
    width: 100%;
    background-color: white;
    margin: 20px auto;
    padding: 60px 60px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.container .title h2{
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 700;
    color: rgb(76, 97, 33);
    text-align: center;
    text-transform: uppercase;

}

.container .grouop{
    width: 100%;
    
}

.details{

    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.details .lab{
    
    width: 150px;
    margin-right: 50px;
    font-size: 16px;
}

.option{
    background-color: #fff;
    color: rgb(15, 20, 5);
    padding: 5px 15px;
    outline: none;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    

}

.radio{
    margin: 10px 5px 20px 60px;
    font: inherit;
    width: 1em;
    height: 1em;
    border: 0.15em solid;
    border-radius: 50%;

}




.details .form-control{
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    padding: 8px 25px;
    border-radius: 3px;
    width: 100%;

}

.normal{
    width: 100%;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    border: 1px solid #3f1515;
    color: blanchedalmond;
    text-align: center;
    
    background-color: rgb(41, 54, 43);
    font-size: 20px;
    font-weight: 400;
    

}





/*table data*/

.table-box{
    
    width: 100%;
    padding: 50px 0px;
   
    
   

 }

 .table-box table{

    width: auto;
    border-collapse: collapse;
   
    
    border: 1px solid #2e0404;
    
    

    
   
    
 }

 .table-box table tr{
    border-bottom: 1px solid #2e0404;
   
    
    
    
 }

 .table-box table tr th{
    border-right: 1px solid #2e0404;
    padding: 50px;
    width: 50%;
    height: 80px;
    font-size: 20px;
    

 }

 .table-box table tr td{
    border-right: 1px solid #2e0404;
    padding: 10px;
    text-align: center;
   
    
    
    
 }

 .table-box table tr td button{
    width: 90px;
    padding: 10px;
    margin: 5px;
    flex-wrap: wrap;
    border: 1px solid #3f1515;
    color: blanchedalmond;
    background-color: rgb(22, 44, 25);
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;

 }

 /*.table-box table tr td button{
    background-color: rgb(88, 10, 10);

 }*/
 



